$d:200px;
$p:50px;
$o:-20px;
.distance{
  margin: 0 0 20px;
}
html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: $d+$p;
}

footer {
  background: #28648c;
  position: absolute;
  left: 0;
  bottom: $o;
  height: $d;
  width: 100%;
  overflow:hidden;

}

@media screen and (max-width: 576px){

  .border-none {
    padding-left: 0!important;
    padding-right: 0!important;;
  }
}
